/*styling*/

body {
    margin:180px;
    padding:3em;
    padding: top 0;
    text-align:center;
    min-width:300px;
    height: 50vh;
    font-family: sans-serif;
}

h1 {
    font-family:Impact sans-serif;
    font-size:3em;
}

p:first-child {
    font-size:1.2em;
}

p {
    font-family: cursive;
    font-size:1em;
    padding-top: 1em;;
    padding-bottom: 1em;
}

main {
    background-color: whitesmoke;
    color: black;
    opacity: 0.9;
}

::placeholder {
    color:rgb(176, 178, 178);
}

footer {
    padding-top:3em;
    text-align:center;
    font-size:80%;
}

.coffee-taste {
    padding:0.3cm;
}

textarea {
    margin:2em;
    width:70%;
    text-align:center;
    color:black;
    border-color:black;
    padding-top:0.5cm;
    background-color:rgb(186, 252, 245);
    font-family:cursive;
}

.textarea1 {
    padding-top:0.5cm;
}

form {
    min-width: 300px;
    width: 60vw;
    padding-top:1em;
    padding-bottom:6em;
}

input[type=submit] {
    width:70%;
    margin:1.3em;
    height:3em;
    font-family:Impact;
    font-size:large;
    background-color:rgb(84,0,206);
    border-color:white;
    color:white;
}

fieldset {
    padding-left:30px;
    padding:10px;
    margin:50px;
    opacity: 0.9;
    color:black;
    border:  rgb(113, 68, 184);
}

:placeholder-shown {
    color-scheme:initial;
}

